{% extends "base_default.html" %}

{% load static from staticfiles %}
{% load common %}

{% block stylesheets %}
    <style>
        div.context-query-container label {
            width: 60px;
            display: block;
            font-size: 10pt;
            line-height: 24px;
        }
        div.context-query-container .input-left {
            width: 300px;
        }

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .grid path,
        .grid line {
          fill: none;
          stroke: rgba(0, 0, 0, 0.25);
          shape-rendering: crispEdges;
        }

        .x.axis path {
          display: none;
        }

        .line {
          fill: none;
          stroke-width: 2.5px;
        }

    </style>
{% endblock %}

{% block main %}
    <div class="layout-main center">
        <h1>Context Management</h1>
        <table class="noborder">
            <tr>
                <td>Source:</td><td><input id="in-source" placeholder="Source" value="2"></td>
                <td>Type:</td><td><input id="in-type" placeholder="Type" value="Acceleration"></td>
                <td rowspan="2"><button id="bt-query" style="margin: 0px 0px 0px 20px; padding: 12px 10px;">Query</button></td>
            </tr>
            <tr>
                <td>Time:</td><td><input id="in-from" placeholder="From" value="2014-06-29T20:23:37">-<input id="in-to" placeholder="To" value="2014-06-29T20:24:26"></td>
                <td>Limit:</td><td><input id="in-maxctxnum" placeholder="Ex.) 50" value="50"></td>
                <td></td>
            </tr>
        </table>
        <div>
            <!-- Radio button for display modes -->
        </div>
        <div>
            <h2>Context List</h2>
            <table>
                <tbody>
                    <tr>
                        <th>Source</th><th>Type</th><th>Data</th><th>Time</th>
                    </tr>
                    {% for c in contexts %}
                    <tr>
                        <td>{{ c.source }}</td><td>{{ c.type }}</td><td>{{ c.data|tostring }}</td><td>{{ c.time }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Context Visualization</h2>
        <div class="root" style="height: 250px">
            <canvas id="chart-curr-context" style="border: 1px solid black"/>
        </div>
        <div id="raw-data" style="float: right; width: 200px"/>
    </div>
    <iframe id="forum_embed"
  src="javascript:void(0)"
  scrolling="no"
  frameborder="0"
  width="900"
  height="700">
</iframe>
<script type="text/javascript">
  document.getElementById('forum_embed').src =
     'https://groups.google.com/forum/embed/?place=forum/selab_ssu'
     + '&showsearch=true&showpopout=true&showtabs=false'
     + '&parenturl=' + encodeURIComponent(window.location.href);
</script>

{% endblock %}

{% block scripts %} {{ block.super }}
    <script type="text/javascript">
{#        var contextVisualizer = new ContextVisualizer($("#chart-curr-context"));#}

        var jsonContexts = JSON.parse('{{ contexts|tostring }}'.replace(/&quot;/g,'"'));

        $("#bt-query").click(function() {
            $.get("http://localhost:8000/api/context", packContextQuery(), function(res) {
                //contextVisualizer.plot(data);
                alert(res);
            });
        });

        function packContextQuery() {
            var contextQuery = {};
    //        contextQuery["source"] = $("#in-source").val();
    //        contextQuery["type"] = $("#in-type").val();
            contextQuery["time"] = {"$gte":$("#in-from").val(),"$lte":$("#in-to").val()}
            return {"query":JSON.stringify(contextQuery),"limit":$("#in-maxctxnum").val()};
        }
    </script>
    <script src="{% static "js/context.js" %}"></script>
{% endblock %}