{% extends "base_default.html" %}

{% load static from staticfiles %}

{% block stylesheets %}
    <style>
        ul.list-domains label {
            display: table;
            width: 100%;
        }

        ul.list-domains label div {
            display: table-cell;
        }

        ul.list-domains label div.first-child {
            width: 12%;
            font-weight: bold;
            font-size: small;
        }

        ul.list-domains label div.second-child {
        }

        ul.list-domains input {
            width: 100%;
            -o-text-overflow: ellipsis;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

        ul.list-domains li {
            padding: 10px 0px;
            border-bottom: 1px solid #eeeeee;
        }
    </style>
{% endblock %}

{% block main %}
    <div class="layout-root center">
        <div class="col3 left"><h1>Domain Management</h1></div>
        <div class="col3 left" style="margin-top: 10px;"><button>Add</button><button id="bt-edit">Edit</button></div>
        <div class="col3 right" style="margin-top: 12px;">
            <label style="font-size: 10pt; line-height: 24px;">View:</label>
            <select name="" id="">
                <option value="">5 Items</option>
                <option value="">10 Items</option>
                <option value="">20 Items</option>
                <option value="">50 Items</option>
            </select>
        </div>
        <div class="clear"/>
        <ul class="list-domains">
            {% for d in domains %}
            <li>
                <div class="info">
                    <label>
                        <div class="first-child">ID</div>
                        <div class="second-child"><input readonly="readonly" value="{{ d.id }}"></div>
                    </label>
                    <label><div class="first-child">Situations</div><div class="second-child"><input readonly="readonly" value="{% for s in d.situations %}{{ s }}{% if not forloop.last %}, {% endif %}{% endfor %}"></div></label>
                    <label><div class="first-child">Description</div><div class="second-child"><input readonly="readonly"  value="{{ d.description }}"></div></label>
                    <label><div class="first-child">Version</div><div class="second-child"><input readonly="readonly"  value="{{ d.version }}"></div></label>
                </div>
                <div class="edit" style="display:none">
                    <button>Update</button>
                    <button>Delete</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block scripts %} {{ block.super }}
    <script src="{% static "js/context.js" %}"></script>
    <script type="text/javascript">
        (function($) {
            $("button#bt-edit").click(function() {
                if($(this).hasClass("clicked")) {
                    $(this).removeClass("clicked");
                    $(".edit").css("display", "none");
                    $(this).html("Edit");
                } else {
                    $(this).addClass("clicked");
                    $(".edit").css("display", "block");
                    $(this).html("Done");
                }
            });

            $("a.source-item").click(function() {
                alert($(this).attr('item-id'));
            });
        })(jQuery);
    </script>
{% endblock %}