{% extends "base.html" %}

{% block header %}
    <div class="layout-outer center">
        <label class="title left">INFaaS Console</label>
        <div class="menu right" style="margin-top: 6px">
            <label for=""><a href="">Admin</a></label>
            <button style="margin-left: 12px; margin-top: -8px;">Logout</button>
        </div>
    </div>
{% endblock %}

{% block menu %}
    <ul class="menu" style="padding: 12px 12px 0px 0px;">
        <li class="menu-item" value="/">Dashboard</li>
        <li class="menu-item" value="context">Context</li>
        <li class="menu-item" value="source">Source</li>
        <li class="menu-item" value="solution">Solution</li>
        <li class="menu-item" value="domain">Domain</li>
        <li class="menu-item" value="user">User</li>
        <li class="menu-item" value="authority">Authority</li>
        <li class="menu-item" value="application">Application</li>
        <li class="menu-item" value="adapter">Adapter</li>
    </ul>
{% endblock %}

{% block scripts %} {{ block.super }}
    {# Script for menu #}
    <script type="text/javascript">
        (function($) {
            $("li.menu-item[value={{ page }}]").addClass('active');
            $("li.menu-item").click(function() {
                window.location = $(this).attr('value');
            });
        })(jQuery);
    </script>
{% endblock %}