body {
    margin: 0px;
    padding: 0px;
    font-family: Gill Sans Extrabold, sans-serif;
}

div.layout-header {
    width: 100%;
    height: 60px;
    background: #eeeeee;
}

div.layout-header .title {
    display: block;
    font-size: 28px;
    font-weight: bold;
    padding: 12px 20px;
}

div.layout-root {
    position: relative;
    width: 1400px;
    padding: 24px;
}

div.col2-1 {
    float: left;
    width: 690px;
    border: 1px solid black;
}

div.col2-2 {
    float: right;
    width: 690px;
}

div.col3-1 {
    float: left;
    width: 453px;
}

div.col3-2 {
    margin: 0 auto;
    width: 453px;
}

div.col3-2 {
    float: right;
    width: 453px;
}
